# ======================
# DATA（必须忽略）
# ======================
data/

# ======================
# MODELS（必须忽略）
# ======================
models/

# ======================
# VISUALIZATION OUTPUT
# ======================
data/visualize_*/

# ======================
# PYTHON CACHE
# ======================
__pycache__/
*.pyc

# ======================
# ENV
# ======================
.env
venv/

# ======================
# LOG
# ======================
*.log

# ======================
# SYSTEM
# ======================
.DS_Store
